/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    padding: 20px;
}

/* Estilos para los contenedores de cubos */
.cb1, .cb2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #000; /* Marco negro */
    border-radius: 10px;
    width: 45%; /* Ancho del 45% para dejar espacio entre los cubos */
    float: left; /* Alinea a la izquierda y al mismo nivel */
    margin: 10px; /* Espacio entre los cubos */
}
.button{

    display: block;
    width: 80px;
    height: 30px;
    
}

/* Estilos para h3 dentro de los cubos */
.cb1, .cb2  {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Estilos para los botones y etiquetas dentro de los cubos */
button, label {
    margin: 5px;
}
select{
    display: block;
    margin-left: 43%;
    width: 15%;
}

/* Estilos para los label dentro de cb2 en línea */
.cb2 label {
    display: inline-block;
    margin-right: 10px;
}

/* Estilos para el pie de página */
footer {
    background-color: #475763;
    color: white;
    padding: 10px;
    clear: both; /* Evita que elementos flotantes afecten el pie de página */
}
