*{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
}

section{
    text-align: center;
}

img{
    margin-top: 25px;
    width: 100px;
    height: 100px;
}

button{
    margin-left: 25px;
}